<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Someone wants to have you over!</h1>
    <p>
      This host has reached out to you because they think you're a match.
    </p>
  </body>
</html>
