.cities {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cities-header-1 {
  font-size: 32px;
  padding-top: 20px;
}

.cities-header-2 {
  font-size: 18px;
  padding-bottom: 20px;
}

.cities-header-1 {
  text-align: center;
}

.city-row-2 {
  padding-bottom: 40px;
}

.row-2-icon {
  margin: 30px 20px;
}
