.filters {
  color: white;
  background: #104da1;
  height: 250px;
  display: flex;
  flex-direction: column;
}

.filter-heading {
  font-size: 18px;
  padding: 10px 10px;
  border-top: 1px solid rgba(255,255,255,0.1)
}

.filter-preferences {
  padding-bottom: 10px;
}

.filter-budget {
  height: 100px;
}

.budget-option {
  color: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.budget-input {
  width: 40px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #9dbaf2;
}

// .budget-slider {
//   color: white;
//   height: 40px;
//   width: 200px;
// }

// .rc-slider-track {
//   background-color: red;
// }
//
// .rc-slider-handle {
//   color: red;
// }

.filter-row {
  display: flex;
  justify-content: center;
  height: 50px;
  padding: 5px 5px 5px 5px;
}

.filter-input {
  width: 200px;
  margin-left: 20px;
  margin-right: 20px;
}
