.filters {
  color: white;
  background: #104da1;
  height: 250px;
  display: flex;
  flex-direction: column;
}

.filter-heading {
  font-size: 18px;
  padding: 10px 10px;
  border-top: 1px solid rgba(255,255,255,0.1)
}

.filter-preferences {
  padding-bottom: 10px;
}

.filter-budget {
  height: 100px;
}

.filter-row {
  display: flex;
  justify-content: center;
  height: 50px;
  padding: 5px 5px 5px 5px;
}

.filter-input {
  width: 200px;
  margin-left: 20px;
  margin-right: 20px;
}
