
.navBar {
  background: #104da1;
  height: 50px;
  border-radius: 0 !important;
  border: none;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding: 0 10px 0 10px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
}

.navBar-logo {
  font-size: 24px;
  color: white !important;
}

.navBar-auth {
  display: flex;
  justify-content: center;
}

.nav-bar-button {
  float: right;
  display: block;
  height: 50px;
  width: 100px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 1px solid #C4C4C4;
  cursor: pointer;
}

#user-button:hover .user-menu {
  display: block;
}

#user-button img {
  width: 30px;
  height: 30px;
  background: gray;
  vertical-align: -12px;
  margin-left: 10px;
  border-radius: 50%;
  border: solid 2px #C4C4C4;
}

.user-menu {
  display: none;
  position: absolute;
  z-index: 200;
  right: 0;
  top: 51px;
  border: 1px solid #DCE0E0;
  text-align: left;
  color: #484848;
}

.user-menu li {
  width: 260px;
  height: 60px;
  background: white;
  padding: 20px;
  border-top: 1px solid #DCE0E0;
  -webkit-transition: padding-left 0.25s, width 0.25s;
  transition: padding-left 0.25s, width 0.25s;
}

#menu-name {
  font-weight: bold;
  background-color: #edefed;
  padding-left: 20px;
  cursor: auto;
}

.user-menu li:hover {
  padding-left: 30px;
}

#create-profile {
  font-weight: 200;
  margin: 10px;
  padding: 4px 12px;
  border: 2px solid white;
  border-radius: 2px;
}

#create-profile:hover {
  background: #0e428a;
}

.modal-content {
  margin-top: 120px;
  margin-right: auto;
  margin-left: auto;
  width: 250px;
  padding: 35px 35px 20px 35px;
  text-align: center;
}
