
.navbar.navbar-default {
  background: #104da1;
  border-radius: 0 !important;
  border: none;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  margin-bottom: 0px;
}

.navbar-default .navbar-brand {
  font-size: 24px;
  color: white !important;
}

.navbar-default .navbar-nav>li>a {
  color: white !important;
}

// TODO: Make box around 'create profile' button

// TODO: Style login and sign up buttons like OkCupid

#create-profile {
  // padding: 5px, 10px;
  // border: 2px solid grey;
}

.modal-content {
  margin-top: 120px;
  margin-right: auto;
  margin-left: auto;

  width: 214px;
  padding: 20px 35px 35px;
  text-align: center;
}
