.profiles-index {
  height: 100vh;
  background: #f3f5f9;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.index-item {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  color: #5e6573;
  background: white;
  height: 250px;
  width: 250px;
  border-radius: 6px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.14);
  margin: 20px 10px 20px 10px;
  text-align: center;
}

.profile-image {
  width: 100%;
}

.index-item-info {
  background: white;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 35%;
  text-align: center;
  padding-top: 10px;
  font-family: 'Open Sans',sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
}

.profile-name {
  font-size: 18px;
}
