<!DOCTYPE html>
<html>
<head>
  <title>Okbnb</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  <link rel="icon"
        type="image/png"
        href=" https://res.cloudinary.com/ddodpmqri/image/upload/c_scale,w_16/v1468453500/handshake_filled_bq49yt.png">
</head>
<body>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6md_E02i5nBBQsTajI02ETjc0qIz22yk&libraries=places"></script>
  <script type="text/javascript" src="https://widget.cloudinary.com/global/all.js"></script>

  <%= yield %>

</body>
</html>
